{% extends "base.html" %}
{% block content %}
    <h1>Register</h1>
    <form class="form-horizontal" action="" method="post" name="registration">
        {{ form.hidden_tag() }}
      <div class="control-group">
        <label class="control-label" for="username">Username</label>
        <div class="controls">
            {{ form.username()}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="email">Email</label>
        <div class="controls">
          {{ form.email()}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          {{ form.password()}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="confirm">Confirm password</label>
        <div class="controls">
          {{ form.confirm()}}
        </div>
      </div>
      <button type="submit" class="btn">Register</button>
</form>
{% endblock %}
